#navbar{
    display: flex;
    flex-direction: column;
    padding: 0.75rem 0;
    overflow: hidden;
    height: 88px;
}
#training .items{
    flex-direction: column;
    
}
#training .items .item{
    width: 100%;
}
.courses{
    padding: 1rem;
    flex-direction: column;
}
.courses .course{
    flex-direction: column;
}